<form>
    <div>
        <label>First Name: </label>
                <input type="text">
        <label>Last Name: </label>
                <input type="text">
        <button type="submit">Save</button>
    </div>
    <div [formGroup]="addressForm">
        <label>Street: </label>
                <input type="text">
        <label>Apt: </label>
                <input type="number">
        <label>City: </label>
                <input type="text">
        <label>State: </label>
                <input type="text">
        <label>Zip: </label>
                <input type="number">
    </div>
    <button type="submit">Save</button>
</form>

