<form [formGroup]="form" 
        (ngSubmit)="onSubmit(form.value)">
<div>
    <label>First Name: </label>
            <input type="text" formControlName="first">
    <label>Last Name: </label>
            <input type="text" formControlName="last">
</div>
<div>
    <label>Street: </label>
            <input type="text">
    <label>Apt: </label>
            <input type="number">
    <label>City: </label>
            <input type="text">
    <label>State: </label>
            <input type="text">
    <label>Zip: </label>
            <input type="number">
</div>
        <button type="submit">Save</button>
</form>